@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url("/hero-section-bc.jpeg");
  --background-image-grid-one: url("/grid_1.jpeg");
  --background-image-grid-two: url("/grid_2.jpeg");
  --background-image-grid-three: url("/grid_3.jpeg");
  --background-image-grid-four: url("/grid_4.jpeg");
  --background-image-grid-five: url("/grid_5.jpeg");
  --background-image-grid-six: url("/grid_6.jpeg");
  --background-image-correct: url("/correct.png");
  --hero-clamp: clamp(-0.5rem, 2.524vw - 1.092rem, 1.938rem);
  --hero-clamp-mb: clamp(12rem, 24.245vw - 1.032rem, 28.063rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --spacing-hero-clamp: var(--hero-clamp);
  --spacing-hero-clamp-mb-element-two: var(--hero-clamp-mb);
  --spacing-hero-element-one-width: var(--hero-element-one-width);
  --spacing-hero-element-one-height: var(--hero-element-one-height);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-*: initial;
  --breakpoint-lg: 1920px;
  --breakpoint-md: 1440px;
  --breakpoint-sm: 860px;
  --breakpoint-xs: 375px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
